
@{
    ViewBag.Title = "About";
}

<h2>About Us</h2>
<div>
</div>


    <center>
        <img id="Img" src="~/Content/About2.png" />
    </center>
<div class="glyphicon-record">

</div>
<div class="container" id="Content"><p>
    &nbsp;&nbsp;&nbsp;&nbsp;We have come a long way from where we started. When we initially started out,
    our passion and eagerness grew more with the maturing period, which drove us to accelerate in our competencies and area of operation,
    and gave us impulse force to hard work and transform into to a one of the strong leader in our industry.
    
    Also, it is not only designed and developed by experienced designers and developers but it has been closely monitored by expert educationists.
    We hope our product will satisfy the client's needs as much as we enjoy making and creating them.
    If you have any queries or comments, or suggestion please don't hesitate to contact us.
</p>
</div>
<div class="container" id="Content2">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp;Our team of developers and designers  use the latest technologies in order to create,
        design a Web, Mobile or other Applications. Our developers follow proper guidelines to test all the new and innovative techniques,
        even so after considerable research we take final decision of employing them for clients.
        The developers are well versed with different programming languages which further help them to master the art-of-building next generation applications,
        they try to understand the client requirement and needs to build the web page or applications.
    </p>
</div>
<div class="container" id="Content3">
    <p>
        &nbsp;&nbsp;&nbsp;&nbsp; Also, it is not only designed and developed by experienced designers and developers but it has been closely monitored by expert educationists.
        We hope our product will satisfy the client's needs as much as we enjoy making and creating them.
        If you have any queries or comments, or suggestion please don't hesitate to contact us.
    </p>
</div>

<style>
    h2 {
        font-family:Bookman Old Style;
    }
    .circle {
        background-color: darkslategray;
        border-radius: 100%;
        width: 300px;
        height: 300px;
        margin:initial;
       
    }
    #Img{
        width:100%;
        height:500px;
        margin-top:50px;
    }
    #Content{
        border-radius:100px;
        background-color:cornflowerblue;
        padding:50px;
        font-size:16px;
        font-weight:700;
        justify-content:center;
    }
    #Content2 {
        border-radius: 100px;
        background-color:darkgray;
        padding: 50px;
        font-size: 16px;
        font-weight: 700;
        margin-top:30px;
    }
    #Content3 {
        border-radius: 100px;
        background-color: darkkhaki;
        padding: 50px;
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
    }
</style>