
@{
    ViewBag.Title = "Collage";
}


<ul class="nav navbar-nav" style="color:blueviolet">
    <li>@Html.ActionLink("Dashboard", "Index", "Home")</li>
    <li>@Html.ActionLink("Companies", "Companies", "Home")</li>
    <li>@Html.ActionLink("Student Status", "CheckStatus", "Home")</li>
    <li>@Html.ActionLink("LogOut", "LogOut", "Home")</li>

</ul>
