
@{
    ViewBag.Title = "Contact";
}

<head>
    @Styles.Render("~/Content/Home")
</head>

<h1>Contact Us</h1>
<div class="col-lg-6"><img id="Img" src="~/Content/Image/Contact.png" /></div>
<div class="contact-form col-lg-6">
    <center>
        <form action="index.html" autocomplete="off">
            <h2 class="title">CONTACT US</h2>
            <div class="input-container">
                <input type="text" name="name" class="input" placeholder="User Name" />


            </div>
            <div class="input-container">
                <input type="email" name="email" class="input" placeholder="Email ID" />


            </div>
            <div class="input-container">
                <input type="tel" name="phone" class="input" placeholder="Mobile Number" />


            </div>
            <div class="input-container textarea">
                <textarea name="message" class="input" placeholder="Message"></textarea>

            </div>
            <input type="reset" onclick="Send()" value="Send" class="btn" id="btnc"/>
        </form>
    </center>
</div>

<script>
    function Send() {
        onreset(alert("Submited Successfully"))
    }
</script>

