@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home")

<div class="container-fluid">
    <center>
        <img id="img" src="~/Content/Home.png" />
    </center>
</div>

<style>
   
</style>


