@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <center>
        <img id="img" src="~/Content/Home.png" />
    </center>
</div>

<style>
    #img {
        width: 100%;
        height: 500px;
        margin-top: 70px;
        border-radius: 20px;
    }

    h2 {
        margin-top: 50px;
    }
    #img {
        width: 100%;
        height: 500px;
        margin-top: 70px;
        border-radius: 20px;
    }

    h2 {
        margin-top: 50px;
    }
</style>


