@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home")

<div class="container-fluid">
    <center>
        <img id="img1" src="~/Content/Image/Home.png" />
    </center>
</div>


<style>
    #img1 {
        width: 100%;
        height: 500px;
        margin-top: 70px;
        border-radius: 20px;
    }
</style>
