
@{
    ViewBag.Title = "DashBoard";
    //Layout = null;
    //if (Session["EMAIL_ID"] == null)
    //{
    //    Response.Redirect("~/CollegeRegister/Login");
    //}
    //else
    {
        Layout = "~/Views/Shared/Layout_College.cshtml";
    }

}

<h2>DashBoard</h2>

