
@{
    ViewBag.Title = "StudentDetails";
    Layout = null;
    if (Session["EMAIL_ID"] == null)
    {
        Response.Redirect("~/StudentDetails/Index");
    }
    else
    {
        Layout = "~/Views/Shared/Layout_College.cshtml";
    }
}

<h2>StudentDetails</h2>

