@*<ul class="dropdown-menu">

            <li class="dropdown-item">You got a new recruitment</li>
            <li class="dropdown-item">You got a new recruitment</li>

    </ul>*@
<ul class="dropdown-menu"><li><a href="#">HTML</a></li><li><a href="#">CSS</a></li><li><a href="#">JavaScript</a></li></ul>