
@{
    ViewBag.Title = "CheckStatus";
    Layout = null;
    if (Session["EMAIL_ID"] == null)
    {
        Response.Redirect("~/CompanyRegister/Login");
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutCompany.cshtml";
    }
}

<h2>CheckStatus</h2>

