
@{
    ViewBag.Title = "DashBoard";
    //Layout = null;
    //if (Session["EMAIL_ID"] == null)
    //{
    //    Response.Redirect("~/CompanyRegister/Login");
    //}
    //else
    {
        Layout = "~/Views/Shared/Layout_Company.cshtml";
    }
}
<p></p>
<h2>DashBoard</h2>

<div class="container-fluid">
    <center>
        <img id="img" src="~/Content/Image/Company.png" />
    </center>
</div>
<div class="container-fluid" id="Div">
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;In today's era, information is everything, even so planned and structured information is effortless to grasp and convenient.
        For any Company system, dashboards is crucial module as it generally provide overall control on the different features of the whole system.
        Usually it works as the median of information collection and showing the user its appropriate information.
        Dashboard page will give access to all the various Company modules.
    </p>
</div>
<div class="container-fluid" id="Div2">
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp;Dashboard of Company Management is user friendly thus users can access all modules from dashboard page efficiently.
        It proposes the consolidated data of the whole system as it plays critical role in improving the user experience.
        And, we can guarantee the finest user experience while using this system.
        This Multi-Feature Dashboard is a user-interactive and the most liked by all the users as Company management system.
        It helps the users.
    </p>
</div>

<style>
    #img {
        width: 100%;
        height: 500px;
        margin-top: 70px;
        border-radius: 20px;
    }

    h2 {
        margin-top: 50px;
        font-family: Bookman Old Style;
    }

    #Div {
        background-color: bisque;
        margin-top: 50px;
        /*border: 1px black solid;*/
        border-radius: 20px;
        padding: 50px;
        color: darkslategray;
        font-size: 16px;
        font-weight: 700;
    }

    #Div2 {
        background-color:lightskyblue;
        margin-top: 50px;
        /*border: 1px black solid;*/
        border-radius: 20px;
        padding: 50px;
        color: darkslategray;
        font-size: 16px;
        font-weight: 700;
    }
</style>