
@{
    ViewBag.Title = "Recruitment";
    Layout = null;
    if (Session["EMAIL_ID"] == null)
    {
        Response.Redirect("~/CompanyRegister/Login");
    }
    else
    {
        Layout = "~/Views/Shared/Layout_Company.cshtml";
    }
}

<h2>Recruitment</h2>

